<footer class="bg-dark text-white mt-5 py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5>{{ site.book.title }}</h5>
        <p class="text-muted">{{ site.description }}</p>
      </div>
      <div class="col-md-4 mb-3">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="{{ site.baseurl }}/" class="text-white-50">Home</a></li>
          <li><a href="{{ site.baseurl }}/about/" class="text-white-50">About the Book</a></li>
          <li><a href="{{ site.baseurl }}/author/" class="text-white-50">About the Author</a></li>
          <li><a href="{{ site.baseurl }}/contact/" class="text-white-50">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-4 mb-3">
        <h5>Connect</h5>
        <ul class="list-unstyled">
          <li><a href="http://usm.coach" class="text-white-50" target="_blank">USM Coach</a></li>
          <li><a href="http://jauzo.com" class="text-white-50" target="_blank">Jauzo Oy</a></li>
          <li><a href="https://www.linkedin.com/in/mikko-ahonen-8893b/" class="text-white-50" target="_blank">LinkedIn</a></li>
          <li><a href="mailto:{{ site.email }}" class="text-white-50">Email</a></li>
        </ul>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 text-center text-muted">
        <p>&copy; {{ 'now' | date: "%Y" }} {{ site.book.title }}. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
