<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/assets/images/usm_coach_logo_white_no_bg.jpg" alt="{{ site.title }}" height="100" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link {% if page.url == '/' %}active{% endif %}" href="{{ site.baseurl }}/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.url == '/about/' %}active{% endif %}" href="{{ site.baseurl }}/about/">About the Book</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.url == '/author/' %}active{% endif %}" href="{{ site.baseurl }}/author/">About the Author</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.url == '/contact/' %}active{% endif %}" href="{{ site.baseurl }}/contact/">Contact</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-warning ms-2" href="/assets/pdf/simple-usm-v7.pdf" target="_blank">Get the Book</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
